* {
  margin: 0;
  padding: 0;
  transition: all 0.3s linear;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sfondo {
  background-color: aqua;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.relativ {
  position: relative;
}
.imgp {
  position: absolute;
  top: 30%;
  left: 30%;
}
.imgp img {
  width: 8rem;
}
.input {
  position: absolute;
  top: 65%;
  right: 5%;
  display: flex;
  justify-content: center;
  width: 100%;
}
input {
  height: 3rem;
  width: 70%;
  border-radius: 1rem;
  padding-left: 1rem;
  font-size: 1.8rem;
  text-transform: capitalize;
}
input:focus {
  outline: none;
}
.scritta {
  position: absolute;
  top: 53%;
  right: 30%;
  font-size: 1.8rem;
  text-transform: capitalize;
}
.avanti {
  position: absolute;
  bottom: 15%;
  right: 30%;
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.indietro {
  position: absolute;
  bottom: 15%;
  left: 25%;
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
